<section id="awards-list">
  <% @awards.each do |award| %>
    <section id="award-<%= award.id %>">
      <h2><%= link_to "#{award.name}", award_path(award.id), method: :get %></h2>
    </section>
  <% end %>
</section>

<% if current_admin? %>
  <%= form_for @award, url: admin_awards_path, method: :post do |f| %>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>
    <%= f.submit "Create a new award" %>
  <% end %>


<% end %>
