<% @awards.each do |award| %>
  <h2><%= award.name %></h2>
<% end %>

<% if current_admin? %>
  <%= form_for @award, url: admin_awards_path, method: :post do |f| %>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>
    <%= f.submit "Create a new award" %>
  <% end %>


<% end %>
